
.logo , .myText{
    color:#6C63FF;
}
.icon-value > a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
a > *{
    width:20px;
    height:40px;
}
.rounded{
    text-align:center;
    
}
.container > *{
    text-align: center;
}
.App{
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Redressed', cursive;
  font-size: 1.5em;
}

.myImg > div{
    cursor: pointer;
}
