
.logo , .myText{
    color:#6C63FF;
}
.nameText{
color:#15d666
}


.icon-value > a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
a > *{
    width:20px;
    height:40px;
}
.rounded{
    text-align:center;
    
}
.container > *{
    text-align: center;
}
